#allMessageBlock {
  border: 2px solid green;
  padding-bottom: 10px;
}

#correspondenceBlock {
  margin-top: 10px;
  border: 1px solid orange;
}

#formContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}
