@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  background-color: #202020;
  font-family: "Orbitron", sans-serif;
}
input {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  border-radius: 50px;
  padding: 10px;
}

input.button {
  background-color: #b0c4de;
}

#formLogIn {
  margin-top: 10px;
  margin-bottom: 10px;
}

#allMessageBlock {
  margin-top: 20px;
  padding-left: 30px;
  border: 1px solid green;
  padding-bottom: 10px;
  border-radius: 20px;
  width: 60%;
  display: inline-block;
}

.correspondenceBlock {
  font-family: "Orbitron", sans-serif;
  padding: 10px;
  margin-top: 10px;
  background-color: #b0c4de;
  width: 75%;
  color: #202020;
  border-radius: 20px;
  padding-left: 40px;
}

.oneMessageBlock {
  font-family: "Orbitron", sans-serif;
  padding: 10px;
  margin-top: 10px;
  /* background-color: #b39cb8; */
  background-color: #b0c4de;

  width: 75%;
  color: #202020;
  border-radius: 20px;
  padding-left: 40px;
}

.usernameBlock {
  font-size: x-small;
  margin-top: 10px;
  font-weight: 800;
  width: 30px;
}
.messageSendingTimeBlock {
  font-size: xx-small;
  margin-right: 10px;
  font-weight: 800;
  width: 30px;
  margin-left: 80%;
}

#onlineUsersBlock {
  color: #b0c4de;
  margin-top: 20px;
  border: 1px solid orange;
  border-radius: 20px;
  width: 30%;
  /* height: 30px; */
  text-align: center;
  display: inline-block;
  float: right;
}
ul {
  text-align: left;
}
